# macOS
.DS_Store

# Sparrow Config
sparrow.toml

# Xcode user-specific data
xcuserdata/
*.xcuserstate

# Xcode build output
DerivedData/
build/

# .NET build output
**/bin/
**/obj/

# IDE and user-specific files
.vs/
.idea/
*.user
*.suo

# Logs
*.log
artifacts/
